#overbars .bar {
    opacity: 0;
    cursor: pointer;
}

#bars .bar rect {
    fill: #22323f;
    shape-rendering: crispEdges;
}

#bgbars .bar rect {
    shape-rendering: crispEdges;
}

#bars .bar_hover rect {
    fill: #555;
}

.bar text {
    fill: #fff;
}

.tick text {
    fill: #fff;
}

.axis path, .axis line {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.line path {
    stroke-width: 2;
    fill: none;
}

.form-horizontal .text-center {
    text-align: center;
}

.form-inline button {
    float: right;
}

.form-inline label {
    margin-left: 10px;
    margin-right: 10px;
}

path.link {
    fill: none;
    stroke: #aaa;
    stroke-width: 2px;
}

circle {
    fill: #ccc;
    stroke: #000;
    stroke-width: 2px;
}

text {
    fill: #fff;
    font: 14px sans-serif;
    pointer-events: none;
}

marker {
    fill: #fff;
}

#buffer_wrapper {
    overflow: hidden;
}

#buffers {
    position: relative;
}

.n-gram-info .pager {
    opacity: 0;
}

.overlay {
    fill: none;
    pointer-events: all;
}

#legends {
    text-align: center;
    margin-bottom: 15px;
}

#legends > li.active > a {
    color: #fff;
    font-weight: bold;
    font-size: 120%;
}

#legends {
    vertical-align: bottom;
/*    text-align: left; */
}

#legends > li {
    float: none;
    cursor: pointer;
    display: inline-block;
}

path.selected {
    stroke: white;
    stroke-width: 3px;
}

#submit {
    float: right;
    width: 119px;
}

#submit .spinclip {
    display: inline-block;
    opacity: 0;
    width: 0px;
    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

#submit.active .spinclip {
    opacity: 1;
    width: 15px;
}

.spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  -webkit-transform-origin: 50% 45%;
  transform-origin:50% 45%;
  -ms-transform-origin:50% 45%; /* IE 9 */
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#canvas {
    overflow-x: none;
}

#canvas svg {
    border-style: solid;
    border-width: 1px;
    border-color: #333;
}

div.blocked {
    opacity: 0.6;
    pointer-events: none;
}

div.blocknote {
    width: 200px;
    height: 50px;
    position: absolute;
    text-align: center;
    font-size: 18px;
}

div.blockoverlay {
    position: absolute;
}

span.blocknotetext {
    color: #fff;
    margin-left: 10px;
}

.navbar-fixed-bottom {
    pointer-events: none;
}

.navbar-fixed-bottom .pull-right {
    pointer-events: all;
}

#n_gram_info {
    margin-bottom: 80px;
}

#hintbox {
    display: none;
    position: absolute;
    padding: 5px 10px;
    background-color: #3498DB;
    pointer-events: none;
}

#hintbox.active {
    display: block;
}

#buffers table a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
