{% extends "layout.html" %}
{% block body %}
<h4> ResearchTrends presents visualizations of the Computer Science research
corpus.  It is entirely powered by <a href="http://weaver.systems" target="_blank">Weaver</a>
and <a href="http://hyperdex.org" target="_blank">HyperDex</a>.
</h4>

<h4> All data in ResearchTrends comes from <a
href="http://citeseerx.ist.psu.edu/index" target="_blank">CiteSeerX</a>.  Any
and all errors stem from the original source data, and should be corrected
upstream for best effect.</h4>

<h4> People: </h4>
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
        <img src="static/pics/ayushdubey.jpg" alt="Ayush Dubey">
            <div class="caption">
            <a href="http://ayushdubey.com/" target="_blank"><p>Ayush Dubey</p></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
        <img src="static/pics/tedyin.jpg" alt="Maofan Yin">
            <div class="caption">
            <a href="http://tedyin.com/" target="_blank"><p>Maofan (Ted) Yin</p></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
        <img src="static/pics/haochen.jpg" alt="Chen Hao">
            <div class="caption">
            <a href="http://chandch.tk/" target="_blank"><p>Chen Hao</p></a>
            </div>
        </div>
    </div>
    <div class="col-md-3 clearfix">
        <div class="thumbnail">
        <img src="static/pics/egs.jpg" alt="Emin Gun Sirer">
            <div class="caption">
            <a href="http://www.cs.cornell.edu/people/egs/" target="_blank"><p>Emin Gün Sirer</p></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
