{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col-sm-10">
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <div class="col-md-12">
{% if query %}
                            <input id="author_list" class="form-control"
                                   placeholder="Authors, e.g. 'Butler Lampson' or 'Butler Lampson, Emin Gün Sirer'.  Or try clicking on nodes."
                                   value="{{ query }}"
                                   type="text">
{% else %}			  
                            <input id="author_list" class="form-control"
                                   placeholder="Authors, e.g. 'Butler Lampson' or 'Butler Lampson, Emin Gün Sirer'.  Or try clicking on nodes."
                                   type="text">
{% endif %}			  
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-12">
                            <button id="submit" class="btn btn-success" onclick="author_search($('#author_list').val(), {}, {}); return false;">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div id="canvas" class="col-md-12">
    </div>
</div>
<script src="{{ url_for('static', filename='js/svg-pan-zoom.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/hammer.min.js') }}"></script>

<script>
author_setup();
{% if query %}
author_search("{{ query }}", {}, {});
{% else %}
author_search("Butler Lampson", {}, {});
{% endif %}
</script>
{% endblock %}
