{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col-sm-10">
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <div class="col-md-12">
{% if query %}
			  
                            <input id="keywords" class="form-control"
                                   placeholder="Comma-separated n-grams, e.g. 'throughput, consistency, fault tolerance'."
                                   value="{{ query }}"
                                   onfocus="if (this.value == 'throughput, consistency, fault tolerance') {this.value = '';}"
                                   onblur="if (this.value == '') {this.value = 'throughput, consistency, fault tolerance';}"
                                   type="text">

{% else %}			  
                            <input id="keywords" class="form-control"
                                   placeholder="Comma-separated n-grams, e.g. 'throughput, consistency, fault tolerance'."
                                   value="throughput, consistency, fault tolerance"
                                   onfocus="if (this.value == 'throughput, consistency, fault tolerance') {this.value = '';}"
                                   onblur="if (this.value == '') {this.value = 'throughput, consistency, fault tolerance';}"
                                   type="text">
{% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="padding-left:0">
                    <div class="form-group">
                        <div class="col-md-12">
                            <button id="submit" class="btn btn-success" onclick="n_gram_search($('#keywords').val()); return false;">
                                <span class="spinclip">
                                    <i class="glyphicon glyphicon-refresh"></i>
                                </span>
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="canvas">
        </div>
        <ul id="legends">
        </ul>
        <div id="n_gram_info">
        </div>
    </div>
</div>
<script>
n_gram_setup();
{% if query %}
n_gram_search("{{ query }}");
{% else %}
n_gram_search("throughput, consistency, fault tolerance");
{% endif %}
</script>
{% endblock %}
